@import "tailwindcss";

:root {
  --background: #f6f6f9;
  --foreground: #1f2937;
  --primary: #0ea5e9;

  --surface-dark: #031F31;
    /* --surface-dark: #0D8F75;
      amarillo-claro #FECC2B;
      amarilo-oscuro #DEAF16; */

  --button-hover-color: #3CBEA9;
  --button-destructive-color: #F95C68;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}

.user-name-highlight {
  color: var(--button-hover-color);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
